<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update", class: "btn btn-primary" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class: "btn btn-primary", method: :delete %></p>

<h3>Subscription</h3>
<p>
  <p><span class="customer-details">Status:</span> <%= @subscription.status.titleize %></p>
  <p><span class="customer-details">Plan:</span> <%= @subscription.plan.name.titleize %></p>
  <a data-toggle="modal" href="#plan-options" class="btn btn-mini" type="button">Change plan</a>
</p>

<div id="plan-options" class="modal" style="display: none;">
  <%= form_for resource, as: resource_name, url: update_plan_path, html: {method: :put, id: 'update_plan', class: 'form-horizontal' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Change Plan</h3>
    </div>
    <div class="modal-body">
      <%= f.collection_select :plan_id, Plan.all, :id, :name, prompt: true %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Change Plan", class: "btn btn-primary" %>
      <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
  <% end %>
</div>

<h3>Card Details</h3>
<p>
  <p><span class="customer-details">Number:</span> **** **** **** <%= @card.last4 %></p>
  <p><span class="customer-details">Expires:</span> <%= @card.exp_month %> / <%= @card.exp_year %></p>
  <p><span class="customer-details">Type:</span> <%= @card.type %></p>
  <a data-toggle="modal" href="#card-data" class="btn btn-mini" type="button">Change card</a>
</p>

<div id="card-data" class="modal" style="display: none;">
  <%= form_for resource, as: resource_name, url: update_card_path, html: {method: :put, id: 'update_card', class: 'form-horizontal card_form' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Change Credit Card</h3>
    </div>
    <div class="modal-body">
      <div class="field">
        <%= label_tag :card_number, "Credit Card Number" %>
        <%= text_field_tag :card_number, nil, name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_code, "Card Security Code (CVV)" %>
        <%= text_field_tag :card_code, nil, name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_month, "Card Expiration" %>
        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
      </div>
      <%= f.hidden_field :stripe_card_token %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Change Credit Card", class: "btn btn-primary" %>
      <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
  <% end %>
</div>

