!!!
%html
  %head
    %title StripeApp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v2/", "application"
    = csrf_meta_tags
    = tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY
  %body
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Main page", root_path, class: 'brand'
          = link_to "Add new plan", new_plan_path, class: 'brand'
          .nav-collapse.right-side
            %ul.nav
              - if user_signed_in?
                %li.greetings
                  Logged in as
                  = succeed "." do
                    %strong= current_user.email
                %li= link_to 'Edit profile', edit_user_registration_path
                %li= link_to "Logout", destroy_user_session_path, method: :delete
              - else
                %li= link_to "Login", new_user_session_path
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}"
      = yield